*{
    margin : 0;
 }
 body{

    background-color: rgb(172, 182, 197);
 }

 h1{color: #8f225c;
     font-size: 2.5em;
    padding-top: 70px;
    padding-left: 500px;
    text-decoration: underline;
 }
 .nav a{ font-size: 2em;
     color:rgb(179, 79, 126);
    text-decoration: none;
    padding-left: 200px;
    padding-top: 250px;
 }
 .nav{
    padding-top: 30px;
 }
 
 img{
     width: 100px;
 }
 .img1{
   
   padding-bottom: 90px;
}
.img2{
  padding-bottom: 80px;
}
.img3{
  padding-bottom: 80px;
}
h2,h4 ,h5{
   color: rgb(67, 67, 126);
   font-size: 1em;
}
button{
   width:100px;
   margin-left:5px;
   box-shadow:1px 1px 1px rgba(44, 23, 34, 0.582);
   cursor:pointer;
   background-image: linear-gradient( to top , rgba(88, 18, 106, 0.589), rgba(247, 211, 235, 0.589) );
}
.conatiner-btn{
   padding-left: 600px;
   padding-bottom: 30px;
}
.sec{
   display: none;
}
.navbar {
   background-color:     #dfb9b9;
height: 10vh;
   padding-top: 20px;
   width: 100%;
 color: white;
}
.navbar ul{
   display: flex;
}
.navbar a{
text-decoration: none;
   color: #FBF0E8;
   font-size: 2em;
   padding-right: 250px;
  
}
 
